body {
    background-color: rgb(21, 26, 47);
}

.container {
    width: 68%;

    .SelectionBox {
        display: flex;
        flex-direction: column;
        background-color: rgb(33, 38, 62);
        color: #c3c5cb;
        border-radius: 1.25rem;
        padding: 20px 30px;
        margin-top: 20px;

        .textBalance {
            margin-right: 20px;
        }

        .textBox {
            display: flex;
            justify-content: space-between;
        }
    }

    .inputBox {
        display: flex;
        justify-self: space-between;
        align-items: center;

        .inputWrapper {
            width: 50%;
            padding: 0 20px;
            .inputControl {
                width: 100%;
                /* margin :auto; */
                background: transparent;
                border-top: none;
                border-right: none;
                border-left: none;
                outline: none;
                font-size: 35px;
                color: rgb(255, 255, 255);
            }
        }

        .selectWrapper {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            // background-color: bisque;
            .tokenSelect {
                .dropdownToggle {
                    width: 100%;
                    height: 3rem;
                    padding: 0 40px;
                }

                .dropdownMenu {
                    width: 100%;
                    .icon {
                        width: 24px;
                        height: 24px;
                        max-width: 100%;
                        max-height: 100%;
                        background-color: white;
                        border-radius: 24px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    .createButton {
        padding: 1rem 0;
        width: 100%;
        height: 54px;
        max-width: 320px;
        font-weight: 500;
        text-align: center;
        border-radius: 12px;
        outline: none;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
        background: linear-gradient(to right, rgb(115, 76, 226), rgb(96, 107, 251));
        margin: 2rem auto;
    }

    .tableHeader {
        background-color: rgb(255, 255, 255);
        border-bottom: none;
    }


    .tableBody {
        width: 100%;
        border-radius: 0.5625rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgb(255, 255, 255);
        margin-bottom: 0.625rem;
        font-size: 12px;

        .buyButtonWrapper {
            /* padding: 0 40px; */
            display: flex;
            justify-content: center;
            width: 100%;

            .buyButton {
                /* padding: 0 40px; */
                width: 80%;
            }
        }
    }
}

.dropdown-toggle::after {
    display: inline-block;
    /* vertical-align: 0.255em; */
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}